<div>
 <div class="text-center">
   <h2 >{{title}}</h2>
 </div>
  
    <p>Created by {{user.name}}</p>
  <p>{{body}}</p>
{{#if loggedIn}}
<form class="reply-form" id="reply-form">
  <div class="form-group">
    <label for="reply-text">Reply:</label>
    <input type="hidden" name="thread-id" id="thread-id" value="{{thread.id}}" />
    <input class="form-input" name="reply-text" id="reply-text" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>
</form>
<script src="/js/reply.js"></script>
{{else}}
<h3>---You must be logged in to add a comment---</h3>
{{/if}}


  {{!-- All other replies --}}
 
  <h3>Comments:</h3>
  {{#each replies as |reply| }}
<div class="row mb-4 thread">
  <div class="col-md-5">
    <p>Posted by {{reply.user.name}} on {{format_date created_at}}</p>
      <p>
      {{reply.reply_text}}
    </p>
  </div>
</div>
{{/each}}


</div>
